tensorflow==2.4.0
keras==2.3.1
Django==3.1.12
dj-database-url==0.4.2
gunicorn==19.7.1
psycopg2==2.7.3.2
pytz==2017.3
whitenoise==3.3.1
pandas==0.24.2
numpy==1.16.6
djangorestframework==3.11.2
nltk==3.4.5
praw==7.0.0